:root {
	--bg-secondary: #29404E;
	--cl-accent: #FF00A3;
	--cl-button: red;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
}

html {
	font-size: 100%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;

	--scroll-behavior: smooth;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}

body {
    color: #fff;
    font-family: 'Bebas Neue', Tahoma, Verdana, sans-serif;
    background: #000;
	margin: 0;
}

b,
strong {
	font-weight: bolder;
}

a {
    color: inherit;
	background-color: transparent;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1;
}

h2 {
	font-size: clamp(1.75rem, 8vw, 2.5rem);
}

h3 {
	font-size: clamp(1.75rem, 10vw, 3.5rem);
}

p {
	font-size: 1.25rem;
	font-family: Tahoma, Verdana, sans-serif;
	margin: 1rem 0 0;
}

figure {
	margin: 0;
}

.menu {
	margin: 0;
	padding-left: 0;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
}

.container {
	padding: 0 1.25rem;
	max-width: 1170px;
	margin: 0 auto;
}

input,
button {
	all: unset;
	color: black;
	font-size: inherit;
	font-family: inherit;
	line-height: 1;
}

button {
	cursor: pointer;
}